* {
    box-sizing: border-box;
}

body {
    color: black;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.questions h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
}

.questions-block > div {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.box div {
    color: black;
}

.questions--easy .questions-block > div {
    border: solid 2px #009D40;
}

.questions--medium .questions-block > div {
    border: solid 2px #0e0fe0;
}

.questions--hard .questions-block > div {
    border: solid 2px #FF570D;
}

.answer-block {
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
}
.answer-block--wrapper {
    margin: 1em;
    max-width: 40em;
}

.answer-block--question {
    background-color: #ffffff;
    border-radius: 10px;
    color: #0e0fe0;
    font-size: 1.5em;
    margin-bottom: 1em;
    padding: .5em;
    text-align: center;
}

.answer-block--answers {
    display: grid;
    grid-gap: 0.7em;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.answer-block--answers label {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    font-size: 1em;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

.answer-block--answers label input[type="radio"] {
    position: absolute;
    width: 1em;
    height: 1em;
    opacity: 0;
}

.wrong {
    background-color: #FF570D !important;
}

.correct {
    background-color: #009D40 !important;
}
